@import "tailwindcss";

/* Устанавливаем шрифт по умолчанию */
* {
  font-family: "Nunito Sans", sans-serif;
}

#app {
  font-weight: normal;
}

/* Глобальные стили для dropzone */
.dropzone .dz-preview .dz-progress {
  z-index: 1 !important;
}
